
.active.nav-link{
    border-bottom: 2px solid #02577a;
}
.nav-link{
    font-weight: 700;
    font-size: 14px;
    color: #0a0a0a !important;
}
.logo{
    width: 214px;
    height: auto;
}
.navbar{
    padding-bottom: 0px;
}
.navbar-light .navbar-toggler{
    border: 0;
    outline: none;
}
.navbar-toggler-icon{
    width: 2em!important;
    height: 2em!important;
}
