.Slider{
    width: 100%;
    height: 680px;
    margin-top: -85px;
    position: relative;
    background-color: rgb(2, 87, 122);
    background-image: url('../img/background_1.webp'), url("../img/topTrans.webp");
    background-repeat: no-repeat;
    background-position: center 19% ,top center;
    background-size: auto, contain;

}
.Slider p{
    color: #ffffff;
}
.company-name{
    width: 100%;
    position: absolute;
    transform: translate(0,-50%);
    top: 51%;
}
.company-name__text{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 68px;
    margin: 0;
 }
.slogan-center{
    width: 100%;
    position: absolute;
    transform: translate(0,-50%);
    top: 60%;
}
.slogan-center_text{
    font-size: 48px;
    line-height: 68px;
    margin: 0;
}
.bottom-slogan{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.bottom-slogan_text{
    font-size: 36px;
    line-height: 68px;
    margin: 0;
}
.slider_shadow_bottom{
    position: absolute;
    bottom: -100px;
    height: 100px;
    left: 0px;
    width: 100%;
}
.slider_shadow_bottom path{
    fill: #02577a;
    stroke: #02577a;
}
@media screen and (max-width: 991px) {
    .Slider{
        background-size: 90% auto, contain;
    }
    .company-name__text{
        font-size: 36px;
    }
    .slogan-center_text{
        font-size: 36px;
    }
    .bottom-slogan_text{
        font-size: 28px;
    }
    .Slider{
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .Slider{
        height: 580px;
    }
    .company-name__text{
        font-size: 26px;
    }
    .slogan-center_text{
        font-size: 28px;
    }
    .bottom-slogan_text{
        font-size: 24px;
    }
}
