.Wwd{
    width: 100%;
    background-color: #02577a;
    color: #ffffff;
    position: relative;
    margin-top: 100px;
}
.wwd_title{
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    margin: 0;
}
.wwd_desc{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
}
.boxes{
    width: 100%;
    margin-top: 35px;
    height: auto;
    display: flex;
}
.box{
    text-align: center;
    width: 33%;
    margin-bottom: 20px;
}
.box_img{
    filter: invert(100%);
}
.box_text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.wwd_button{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 14px 24px;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: center;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.4s;
    position: relative;
    border: 0;
    overflow: hidden!important;
    z-index: 2;
    color: #4d4d4d;
    background-color: #fff;
    border-color: #e6e6e6;
    text-decoration: none;
    transition: all ease-in 0.45s;
}
.wwd_button:hover, .wwd_button:active, .wwd_button:focus {
    color: #ffffff!important;
    background-color: #333;
}


.wwd_shadow_bottom{
    position: absolute;
    bottom: -100px;
    height: 100px;
    left: 0px;
    width: 100%;
}
.wwd_shadow_bottom path{
    fill: #02577a;
    stroke: #02577a;
}
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .box{
        width: 100%;
    }

}
